<%! 
import (
    "nvnoskov/presentation-builder/models" 
    "net/url"

)
%>
<%: func Preview(slug string, presentation models.Presentation, buffer *bytes.Buffer) %>

<%~ "preview-layout.html" %>

<%@ body { %>
    <script>
        window.currentSlug = '<%= slug%>';    
        window.currentUrl = '<%= presentation.File%>';    
    </script>
    <style>
        .slides audio {
            position: fixed;
            top:0;
            right: 0;
        }
    </style>
    <nav class="navbar fixed-bottom navbar-light bg-light">
            <button class="btn btn-danger" id="record">Record</button>
            <button class="btn btn-info" id="stop" disabled>Stop</button>
            <button class="btn btn-info" id="play" disabled>Play</button>
            <button class="btn btn-primary" id="save" disabled>Save</button>
    </nav>
    <div class="reveal">
        <div class="slides">
            <% for _, entry := range presentation.Entries { %>
                <section data-background-image="<%= entry.Image%>">
                    <% if entry.Audio != "" { %>
                        <audio controls>
                            <source src="<%= entry.Audio%>" type="audio/wav">                        
                        Your browser does not support the audio element.
                        </audio> 
                        <%}%>
                </section>
            <% } %>            
            
        </div>
    </div>
    
    <script src="/static/reveal/js/reveal.js"></script>
    <script>
        Reveal.initialize({
            autoPlayMedia: true,
            dependencies: [
                {
                    src: '/static/reveal/js/audio.js', async: true 
                },
            ]
        });
    </script>
<% } %>